.footer {
    border-radius: 35px 35px 0 0;
    background-color: #181818;
}

.footer__container {
    padding: 59px 24px 21px;
}

.footer__only-mobile {
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-weight: 300;
    font-size: 45px;
    line-height: 1.11;
    color: #efefed;
    margin-bottom: 62px;
}

.footer__title span {
    font-weight: 500;
    letter-spacing: -0.02em;
}

/* form */
.footer__form {
    margin-bottom: 108.4px;
    /* display: flex;
    flex-direction: column;
    gap: 36.6px; */
}

.form__body {
    margin-bottom: 36.6px;
}

.form__input {
    margin-bottom: 14px;
}

.form__input-field {
    width: 100%;
    padding: 7px 0;
    border: none;
    border-bottom: 1px solid #5E5E5B;
    background-color: transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #efefed;
}

.form__input-field::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #5E5E5B;
}

.form__input-field:focus {
    border-bottom-color: #efefed;
}

/* custom checkbox */
.form__subscription-mobile input[type="checkbox"] {
    display: none;
}

.form__subscription-mobile span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #efefed;
    background-color: #181818;
    cursor: pointer;
    position: relative;
    margin-right: 9px;
}

.form__subscription-mobile input[type="checkbox"]:checked + span {
    border-radius: 5px;
}

.form__subscription-mobile input[type="checkbox"]:checked + span::after {
    content: '';
    display: block;
    background-image: url('./../images/subscribe-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 13px;
    height: 14px;
}
/* end of custom checkbox---------- */

.form__subscription-mobile-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.56;
    color: #d9d9d9;
}

.form__subscription-desktop-text {
    display: none;
}

/* social icons mobile */
.footer__social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-icons {
    width: 191px;
    margin-bottom: 7.6px;
    padding: 0 4px;
}

.icon__twitter-mobile::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('./../images/twitter-icon-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.icon__instagram-mobile::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('./../images/instagram-icon-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.icon__mail-mobile::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('./../images/mail-icon-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
/* end of social icons mobile */

.footer__bottom {
    display: flex;
    justify-content: space-between; 
}

.footer__bottom-policy {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 191px;
    padding: 0 4px;
}

.footer__bottom-policy p {
    font-weight: 400;
    font-size: 12px;
    color: #5E5E5B;
    font-stretch: condensed;
}

/* Mobile logo */
.footer__bottom-mobile-logo {
    width: 76px;
    height: 32px;
    overflow: hidden;
}

.footer__bottom-mobile-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__and-desktop {
    display: none;
}

@media screen and (min-width: 1440px) {
    .footer {
        border-radius: 30px 30px 0 0;
    }

    .footer__and-desktop {
        display: flex;
    }
    
        /* Desktop logo */
    .footer__bottom-desktop-logo {
        width: 147px;
        height: 57x;
        overflow: hidden;
    }

    .footer__bottom-desktop-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    }

