.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: lightblue;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 21px 50px 21px 49px;
    align-items: center;
    justify-content: space-between;
    min-height: 83px;
}

.logo {
    width: 72px;
    height: 29px;
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 94px;
        height: 38px;
    }
}

.menu-item {
    font-family: 'Canela Text Trial', sans-serif;
    font-size: 24px;
}

 /* Мобільні стилі */
/* .menu__icon {
    cursor: pointer;
}

.menu__icon::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('./../images/icon-menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
} */

/* .menu-close {
    cursor: pointer;
}

.menu-close::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('./../images/close-menu-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
} */

@media screen and (min-width: 1440px) {
    /* .menu__icon {
        display: none;
    } */

    .menu_list {
        display: flex;
        align-items: center;
    }

    .menu-item {
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.05;
        color: #b7b7b7;
    }

    .menu-item:hover {
        color: #5E5E5B;
    }

}