@import "./header.css";
@import "./footer.css";
@import "./hero.css";
@import "./plans.css";

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('./../fonts/NeueHaasDisplayRoman.ttf') format('ttf'),
         url('./../fonts/NeueHaasDisplayLight.ttf') format('ttf'),
         url('./../fonts/NeueHaasDisplayMediu.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Canela Text Trial';
  src: url('./../fonts/Canela-Light-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* General styles */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
  /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4;
  /* 3 */
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #181818;
  scroll-padding-top: 83px;
  @media screen and (min-width: 1440px) {
    scroll-padding-top: 0;
  }
}

body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  margin: 0;
}

body._lock {
  overflow: hidden;
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  text-decoration: underline dotted;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1;
  /* 1 */
  margin: 0;
  /* 2 */
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

button,
textarea,
select {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

input{
  color: inherit;
  font: inherit;
  outline: none;
  border: none;
  background: transparent;
}

.wrapper {
  overflow: hidden;
}

/* Global styles */

.container {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Canela Text Trial', sans-serif;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

/* Orange button */
.orange-button {
  background-color: #f74421;
  border: none;
  border-radius: 51px;
  color: #fff;
  padding: 12px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.05;
  transition: background-color 0.3s ease;
}

.orange-button:hover {
  background-color: #181818;
}

/* Black butto */
.black-button {
  background-color: #181818;
  border: none;
  border-radius: 52px;
  padding: 13px 21px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.05;
  transition: background-color 0.3s ease;
}

.black-button:hover {
  background-color: #f74421;
} 

/* Undelined button  */
.undelined-button__link {
  position: relative;
}

.undelined-button__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #181818;
  transition: all 0.3s ease; 
}

.undelined-button__link:hover::before {
  transform: scaleX(0); 
}

.undelined-button__link::after {
  content: url('./../images/arrow-right-black.svg');
  display: inline-block;
  transition: all 0.3s ease;
}

.undelined-button__link:hover::after {
  content: url('./../images/arrow-up-right-black.svg');
}

/* .undelined-button a:hover {
  margin-right: 2px;
} */
